<!DOCTYPE html>
<html lang = "pl">

<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE = edge">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">

	<title>strona_cukiernia__lody</title>

	<!-- Bootstrap -->
	<link href = "../../bower_components/bootstrap/dist/css/bootstrap.css" rel = "stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href = "../cukiernia_main.css" rel = "stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

	<!--[if lt IE 9]>
	<script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="donuts_bg">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-top" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navigation-top">
				<ul class="nav navbar-nav">
					<li><a href="./icecreams.html">Nasze lody</a></li>
					<li><a href="#our-donuts" id="go-to-our-donuts">Nasze pączki</a></li>
					<li><a href="./crescents.html">Nasze rogale</a></li>
					<li><a href="#menu" id="go-to-menu">Menu</a></li>
					<li><a href="#pictures" id="go-to-pictures">Zdjęcia</a></li>
					<li><a href="#appreciation" id="go-to-appreciation">Docenili</a></li>
					<li><a href="#locations" id="go-to-locations">Lokalizacje</a></li>
					<li><a href="#contact" id="go-to-contact">Kontakt</a></li>
				</ul>
			<div>
		</div>
	</nav>
	</div>
	<div class="section-divider">
		<div class="arrow-down_container">
			<div class="arrow-down_icon">
				<i class="fa fa-angle-down fa-4x" id="arrow-to-our-donuts"></i>
			</div>
		</div>
		<div class="scroll-to" id="our-donuts"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> NASZE PĄCZKI <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>ROZSMAKUJ SIĘ W WYSOKOJAKOŚCIOWYCH PĄCZKACH TWORZONYCH Z NATURALNYCH SKŁADNIKÓW</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_01.jpg" alt="Pic-1">
					</div>
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_01.jpg" alt="Pic-1">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_02.jpg" alt="Pic-1">
					</div>
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_02.jpg" alt="Pic-1">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<p>
						Sed et eros in sem tempus vulputate sit amet sit amet orci. Proin volutpat odio et varius tristique. Phasellus imperdiet lacus et imperdiet sodales. Duis eu ante vestibulum, pharetra ante id, sodales ligula. Curabitur sapien ex, tristique at risus quis, fringilla aliquet est. Duis fringilla sit amet orci et euismod. Donec eget arcu vel nibh tincidunt rutrum. Etiam pretium dictum sapien. In mauris velit, dapibus ac lectus a, egestas tincidunt lorem. Fusce venenatis risus lacus.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>
						Sed et eros in sem tempus vulputate sit amet sit amet orci. Proin volutpat odio et varius tristique. Phasellus imperdiet lacus et imperdiet sodales. Duis eu ante vestibulum, pharetra ante id, sodales ligula. Curabitur sapien ex, tristique at risus quis, fringilla aliquet est. Duis fringilla sit amet orci et euismod. Donec eget arcu vel nibh tincidunt rutrum. Etiam pretium dictum sapien. In mauris velit, dapibus ac lectus a, egestas tincidunt lorem. Fusce venenatis risus lacus. Cras mattis ipsum ut turpis vulputate posuere. Sed ultrices, massa ac rutrum imperdiet, odio elit laoreet velit, id malesuada mauris nulla vitae mauris. Sed euismod non ex sit amet eleifend. Curabitur cursus feugiat mattis. Donec orci neque, fringilla eu feugiat non, vulputate finibus turpis. Phasellus posuere rhoncus facilisis.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section-divider">
		<div class="scroll-to" id="menu"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> PĄCZKI TRADYCYJNE <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2>MENU</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="menu">
						<p><b>Klasyczny</b> - nadzienie różane, glazura, skórka pomarańczowa</p>
						<p><b>Babuni</b> - tradycyjne powidła śliwkowe, glazura</p>
						<p><b>Cate Blanchett</b> - Advokat, ciemna czekolada, migdały</p>
						<p><b>Wyrafinowany Smakosz</b> - ciemna czekolada, pomarańcza</p>
						<p><b>Miłość od Pierwszego Kęsa</b> - krem Kinder Bueno, ciemna czekolada, orzechy</p>
						<p><b>Czarny Łabędź</b> - ciemna czekolada, pełne drylowane wiśnie</p>
						<p><b>Biały Rycerz</b> - biały ser twarogowy, pełne drylowane wiśnie, cukier puder</p>
						<p><b>Biała Dama</b> - powidła jagodowe, biała czekolada</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section-divider">
		<div class="scroll-to" id="pictures"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> ZDJĘCIA <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_01.jpg" alt="Pic-1">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_02.jpg" alt="Pic-2">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_03.jpg" alt="Pic-3">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_04.jpg" alt="Pic-4">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_05.jpg" alt="Pic-5">
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="gallery-tile">
						<img class="image-square" src="../../assets/img/icecreams/gallery/gallery-b/gallery-b_06.jpg" alt="Pic-6">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section-divider">
		<div  class="scroll-to" id="appreciation"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> DOCENILI <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>LOREM IPSUM DOLOR SIT AMET</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat tincidunt justo, vitae bibendum augue porta eu. Suspendisse vulputate convallis magna, in ullamcorper eros mattis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi quis est arcu. Sed a augue dapibus, sodales nibh lobortis, sagittis purus. Cras ultricies sagittis libero, non lacinia nisl porttitor vitae. Nunc efficitur sit amet sapien ac rhoncus. Sed blandit tortor eget pulvinar efficitur. Praesent a porta elit, id euismod arcu. Cras consequat, ipsum sed fermentum fermentum, massa lacus pulvinar elit, sit amet pulvinar lacus lectus viverra purus. Aenean sit amet gravida tellus, sed accumsan augue. Vestibulum aliquet molestie mauris vitae condimentum. Aenean id nulla sit amet elit euismod mollis sit amet at urna. Donec ante enim, accumsan id purus nec, egestas tristique mi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat tincidunt justo, vitae bibendum augue porta eu. Suspendisse vulputate convallis magna, in ullamcorper eros mattis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi quis est arcu. Sed a augue dapibus, sodales nibh lobortis, sagittis purus. Cras ultricies sagittis libero, non lacinia nisl porttitor vitae. Nunc efficitur sit amet sapien ac rhoncus. Sed blandit tortor eget pulvinar efficitur. Praesent a porta elit, id euismod arcu. Cras consequat, ipsum sed fermentum fermentum, massa lacus pulvinar elit, sit amet pulvinar lacus lectus viverra purus. Aenean sit amet gravida tellus, sed accumsan augue. Vestibulum aliquet molestie mauris vitae condimentum. Aenean id nulla sit amet elit euismod mollis sit amet at urna. Donec ante enim, accumsan id purus nec, egestas tristique mi.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat tincidunt justo, vitae bibendum augue porta eu. Suspendisse vulputate convallis magna, in ullamcorper eros mattis quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi quis est arcu. Sed a augue dapibus, sodales nibh lobortis, sagittis purus. Cras ultricies sagittis libero, non lacinia nisl porttitor vitae. Nunc efficitur sit amet sapien ac rhoncus. Sed blandit tortor eget pulvinar efficitur. Praesent a porta elit, id euismod arcu. Cras consequat, ipsum sed fermentum fermentum, massa lacus pulvinar elit, sit amet pulvinar lacus lectus viverra purus. Aenean sit amet gravida tellus, sed accumsan augue. Vestibulum aliquet molestie mauris vitae condimentum. Aenean id nulla sit amet elit euismod mollis sit amet at urna. Donec ante enim, accumsan id purus nec, egestas tristique mi.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section-divider">
		<div class="scroll-to" id="locations"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> LOKALIZACJA <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3>LOREM IPSUM DOLOR SIT AMET</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img class="location-image" src="../../assets/img/icecreams/gallery/gallery-a/gallery-a_02.jpg" alt="Location">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<h3 class="location-name">Pracownia Rogali Tradycyjnych</h3>
					<p>ul. Lorem Ipsum 00</p>
					<p>
						pon. - pt. 8:00 - 22:00<br>
						sb. - ndz 10:00 - 16:00
					</p>
					<p>
						tel. 000 000 000<br>
						@: info@loremipsum.pl
					</p>
					<img class="location-map" src="../../assets/img/location/location-map.jpg" alt="Map">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="section-divider">
		<div class="scroll-to" id="contact"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1><span class="u300">──</span> KONTAKT <span class="u300">──</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contact_info">501-053-208</div>
					<div class="contact_info">697-250-887</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contact_info contact_e-mail_icon">@</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contact_info">warszawskielodytradycyjne@gmail.com</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2><span class="u300">──</span> WSPÓŁPRACA <span class="u300">──</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contact_info contact_e-mail_icon">@</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="contact_info">warszawskielodytradycyjne@gmail.com</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1 class="section-footer"><span class="u300 ">─</span></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<img class="donuts-footer_logo">
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src = "../../bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
	<script src = "../script.js"></script>

</body>
</html>