#start-page {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.menu-element {
  float: left;
  font-family: LatoBold;
  font-size: 36px;
  height: 100vh;
  width: 33vw;
  text-align: center;
}
.big-link {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
}
.go-to_icecream {
  background-image: url('../assets/img/start/icecreams_inactive.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.go-to_icecream:hover {
  background-image: url('../assets/img/start/icecreams_active.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.go-to_donut {
  background-image: url('../assets/img/start/donuts_inactive.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.go-to_donut:hover {
  background-image: url('../assets/img/start/donuts_active.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.go-to_crescent {
  background-image: url('../assets/img/start/crescents_inactive.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
.go-to_crescent:hover {
  background-image: url('../assets/img/start/crescents_active.jpg');
  transition: background-image 0.2s ease-in-out;
  -webkit-transition: background-image 0.2s ease-in-out;
}
#icecreams_bg {
  animation: icecreams-change-background 60s infinite;
  /* 60s to długość animacji, zmieniająć wartość zmieniamy jej długość*/
  -webkit-animation: icecreams-change-background 60s infinite;
  /* Safari 4+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -moz-animation: icecreams-change-background 60s infinite;
  /* Fx 5+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -o-animation: icecreams-change-background 60s infinite;
  /* Opera 12+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@keyframes icecreams-change-background {
  0% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-01.jpg');
  }
  33% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-01.jpg');
  }
  34% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  70% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  71% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  99% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  100% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-01.jpg');
  }
}
#donuts_bg {
  animation: donuts-change-background 60s infinite;
  /* 60s to długość animacji, zmieniająć wartość zmieniamy jej długość*/
  -webkit-animation: donuts-change-background 60s infinite;
  /* Safari 4+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -moz-animation: donuts-change-background 60s infinite;
  /* Fx 5+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -o-animation: donuts-change-background 60s infinite;
  /* Opera 12+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@keyframes donuts-change-background {
  /* to jest animacja dla tła strony */
  0% {
    background-image: url('../assets/img/donuts/background/donuts_bg-01.jpg');
  }
  /* zaczyna wyświetlać pierwszy obrazek */
  33% {
    background-image: url('../assets/img/donuts/background/donuts_bg-01.jpg');
  }
  /* kończy wyświetlać pierwszy obrazek */
  34% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  /* zaczyna wyświetlać drugi obrazek */
  70% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  /* kończy wyświetlać drugi obrazek */
  71% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  /* zaczyna wyświetlać trzeci obrazek */
  99% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  /* kończy wyświetlać trzeci obrazek */
  100% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-01.jpg');
  }
  /* wraca do pierwszego obrazka */
}
#crescents_bg {
  animation: crescents-change-background 60s infinite;
  /* 60s to długość animacji, zmieniająć wartość zmieniamy jej długość*/
  -webkit-animation: crescents-change-background 60s infinite;
  /* Safari 4+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -moz-animation: crescents-change-background 60s infinite;
  /* Fx 5+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  -o-animation: crescents-change-background 60s infinite;
  /* Opera 12+; 60s to długość animacji, zmieniająć wartość zmieniamy jej długość */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222222;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
@keyframes crescents-change-background {
  /* to jest animacja dla tła strony */
  0% {
    background-image: url('../assets/img/crescents/background/crescents_bg-01.jpg');
  }
  /* zaczyna wyświetlać pierwszy obrazek */
  33% {
    background-image: url('../assets/img/crescents/background/crescents_bg-01.jpg');
  }
  /* kończy wyświetlać pierwszy obrazek */
  34% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  /* zaczyna wyświetlać drugi obrazek */
  70% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-02.jpg');
  }
  /* kończy wyświetlać drugi obrazek */
  71% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  /* zaczyna wyświetlać trzeci obrazek */
  99% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-03.jpg');
  }
  /* kończy wyświetlać trzeci obrazek */
  100% {
    background-image: url('../assets/img/icecreams/background/icecreams_bg-01.jpg');
  }
  /* wraca do pierwszego obrazka */
}
footer {
  background-color: #222222;
}
nav {
  background-color: #222222;
  font-family: Lato;
}
.navbar-nav {
  font-family: LatoBold;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.footer_logo {
  content: url("../assets/img/icecreams/footer/icecreams_footer_logo.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.donuts-footer_logo {
  content: url("../assets/img/donuts/footer/donuts_footer_logo.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.crescents-footer_logo {
  content: url("../assets/img/crescents/footer/crescents_footer_logo.png");
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.section-divider {
  background-color: #ffffff;
  box-shadow: 0px 0px 12px #888888;
  width: 100%;
  margin-bottom: 800px;
  font-family: Lato;
  font-size: 24px;
  line-height: 1.5em;
  padding-bottom: 36px;
  padding-top: 24px;
}
.section-divider:first-of-type {
  margin-top: 100vh;
}
.section-divider:last-of-type {
  margin-bottom: 0px;
}
.scroll-to {
  position: relative;
  height: 0;
  top: -74px;
}
.scroll-to .first {
  top: -124px;
}
.arrow-down_container {
  position: relative;
  top: -180px;
  background: transparent;
  height: 50px;
}
.arrow-down_icon {
  cursor: pointer;
  color: #95a5a6;
  width: 60px;
  margin: auto;
}
.arrow-down_icon:hover {
  color: #ffffff;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato_regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoLight';
  src: url('../assets/fonts/lato/lato_light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoMedium';
  src: url('../assets/fonts/lato/lato_medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBold';
  src: url('../assets/fonts/lato/lato_bold.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LatoBlack';
  src: url('../assets/fonts/lato/lato_black.ttf');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: LatoBlack;
  font-size: 81px;
  text-align: center;
  padding-bottom: 24px;
}
h2 {
  font-family: LatoBlack;
  font-size: 54px;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 36px;
}
h3 {
  font-family: LatoBold;
  font-size: 22px;
  text-align: center;
  padding-bottom: 54px;
}
p {
  margin-bottom: 1.5em;
  text-align: justify;
  text-justify: inter-word;
}
.u300 {
  font-family: LatoLight;
}
.u400 {
  font-family: Lato;
}
.u700 {
  font-family: LatoBold;
}
.u900 {
  font-family: LatoBlack;
}
#gallery-a {
  height: 500px;
  overflow: hidden;
}
#gallery-a img {
  height: 100%;
  width: auto;
}
#gallery-c {
  overflow: hidden;
  height: 360px;
}
#gallery-c img {
  width: 100%;
}
.carousel {
  margin-bottom: 1.5em;
}
.carousel-inner img {
  width: 100%;
  height: auto;
}
.gallery-tile {
  overflow: hidden;
  width: 100%;
  padding-bottom: 30px;
}
.image-square {
  height: 100%;
}
.image-square:before {
  display: block;
  padding-top: 100;
}
.section-footer {
  vertical-align: center;
  line-height: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 36px;
}
.contact_info {
  text-align: center;
  font-family: LatoBold;
  font-size: 36px;
}
.contact_e-mail_icon {
  padding-bottom: 24px;
}
.location-name {
  text-align: left;
}
.location-image {
  width: 100%;
  height: auto;
}
.location-map {
  width: 100%;
}
.menu {
  font-size: 36px;
}
.menu p {
  text-align: center;
  margin-bottom: 18px;
}
